<h1>Добро пожаловать в OG Shop</h1>
<h5>-Низкие цены</h5>
<h5>-Отменное качество</h5>
<h5>-Удобный сервис</h5>
<h3 align='center'>Приятных покупок!</h3>
<img src="https://golos.ua/images/items/2018-11/21/8lOKjBM4QcdyQzgT/img_top.jpg" alt="">
